extend default

block content
    .container-fluid
        
        h1#title Login
        hr(style="margin-bottom:5%;margin-top:5%;")
        #message
        form(method='POST', action='/auth',name='loginform')#loginForm
            .form-group.row 
                label(for="inputUsername3",class="col-sm-2 col-form-label")|Username 
                .col-sm-10
                    input(type="text", class="form-control",id="inputUsername3",placeholder="Please input your username",name='username')

            
            .form-group.row 
                label(for="inputPassword3",class="col-sm-2 col-form-label")|Password
                .col-sm-10
                    input(type="password", class="form-control",id="password3",placeholder="Please input password",name='password')
                    
            button(type="submit",class="btn btn-primary" )#loginBtn|Login
            | &nbsp or  &nbsp
            a(href='/auth/register')| Register

    block append scripts
        script(src="/assets/js/validations.js")

                    
            

